* {
   margin: 0;
   font-size: 16px;
   position: relative;
   padding-inline-start: 0px;
}
#root {
   max-width: 100%;
}
body {
   max-width: 100%;
   height: auto;
}

html {
   overflow-x: hidden;
}

* {
   font-family: 'Roboto', sans-serif;
   font-size: 13px;
}
.loading {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
   position: fixed; /* Sử dụng position: fixed để đảm bảo hiển thị trên cùng */
   top: 0;
   left: 0;
   background-color: rgba(255, 255, 255, 0.7);
   z-index: 2;
}

.loading svg {
   width: 10vw;
   height: 10vh;
   animation: spin 2s linear infinite;
}
.errol {
   color: red;
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
::-webkit-scrollbar {
   width: 5px;
}

::-webkit-scrollbar-thumb {
   background-color: #888;
}
body {
   overflow: auto;
   scrollbar-color: #888 transparent;
}
