* {
  margin: 0;
  font-size: 16px;
  position: relative;
  padding-inline-start: 0px;
}
#root {
  max-width: 100%;
}
body {
  max-width: 100%;
  height: auto;
}
html {
  overflow-x: hidden;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}
